<div class="m-4">
  <div class="nav" role="navigation">
    <ul>
      <li><a [routerLink]="['/index']" class="home">Home</a></li>
      <li><a class="list" [routerLink]="['/categoria', 'list']" class="list">Lista</a></li>
      <li><a class="create" [routerLink]="['/categoria', 'create']" class="create">Nova</a></li>
    </ul>
  </div>
  <div id="show-part" class="content scaffold-show" role="main">
    <h1>Categoria</h1>
    <ol class="property-list categoria">
      <li class="fieldcontain">
        <span id="nome-label" class="property-label">Nome</span>
        <div class="property-value" aria-labelledby="nome-label">
          <span>{{categoria.nome}}</span>
        </div>
      </li>
    </ol>

    <div class="buttons">
      <a class="edit" [routerLink]="['/categoria', 'edit', categoria.id]">Editar</a>
      <input type="button" class="delete" (click)="destroy()" value="Deletar" />
    </div>
  </div>
</div>
