<div class="svg" role="presentation">
  <div class="grails-logo-container">
    <img class="grails-logo" src="../../images/grailsplusangular.svg" alt="Grails plus Angular" />
  </div>
</div>

<div id="content" role="main">
  <section class="container colset-2-its">
    <h1 class="h1" style="text-align:center;">Acervo de Livros</h1>

    <div class="row mt-4 mb-4">

      <div class="col">
        <h2 class="h2 mb-3">Sobre mim</h2>
        <section>

          <p>
            Programador, jogador de xadrez na horas vagas, amante de bons livros e de bons vinhos rsrs.
            Tenho como objetivo de vida promover as mudanças na sociedade atraves da disseminação do conhecimento e da
            tecnologia, seja essa tecnologia atual ou antiga.
          </p>

        </section>
      </div>
      <div class="col mb-3">
        <h2 class="h2">Sobre o sistema</h2>

        <section>

          <p>
            Um sistema bem simples para controle de livros e disseminação do emprestimo de livros.
            Uma maneira de compartilhar livros sem perder o controle sobre onde estão.
          </p>

        </section>
      </div>
    </div>

  </section>
</div>
