<div class="m-4">
  <div class="nav" role="navigation">
    <ul>
      <li><a [routerLink]="['/index']" class="home">Home</a></li>
      <li><a [routerLink]="['/usuario','create']" class="create">Novo</a></li>
    </ul>
  </div>
  <div id="list-usuario" class="content scaffold-list" role="main">
    <h1>Lista</h1>
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Nome</th>
        </tr>
      </thead>
      <tbody>
        <tr [ngClass]="{'even': e, 'odd': !e}" *ngFor="let usuario of usuarioList; let e = even;">
          <td>
            <a [routerLink]="['/usuario','show',usuario.id]">{{usuario.id}}</a>
          </td>
          <td>
            <span>{{usuario.nome}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
